:root {
    --primary: #1a72c4;
    --white: #ffffff;
    --outlinedBorder: #2c2c2c;
    --emphasizedBackgroundHover: #e3eff9;
}

.buttons-box {
    border: 10px solid #eeeeee;
    box-sizing: border-box;
    max-width: fit-content;
    padding: 20px;
}

.buttons-box caption {
    display: block;
    width: 100%;
    font-size: 0.85rem;
    color: #888888;
    font-style: italic;
    text-align: left;
    margin-bottom: 0;
}

.buttons-box button + caption {
    margin-top: 1.5rem;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn:hover {
    background-color: var(--primary);
    color: var(--white);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 15px 30px;
    font-size: 30px;
}

.grid-container {
    display: grid;
}

/* ------ START: Emphasized Button Styles ------ */
.button--low.MuiButton-textPrimary {
    color: var(--primary);
}
.button--low.MuiButton-textPrimary:hover {
    color: var(--white);
    background-color: var(--primary);
}
.button--med.MuiButton-outlinedPrimary {
    color: var(--primary);
    border-color: var(--outlinedBorder);
}
.button--med.MuiButton-outlinedPrimary:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--white);
}
.button--high.MuiButton-containedPrimary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}
.button--high.MuiButton-containedPrimary:hover {
    color: var(--primary);
    background-color: var(--emphasizedBackgroundHover);
    border-color: var(--primary);
}
/* ------ END: Emphasized Button Styles ------ */
.MuiButton-root.gcx-button-style-round {
    border-radius: 1000px;
}
.MuiButton-root.gcx-button-icon-only {
    padding: 8px;
    min-width: auto;
    line-height: 0;
}
.MuiButton-root.gcx-button-icon-only .MuiButton-label {
    font-size: 20px;
    width: 1em;
}
.gcx-button-icon-only .MuiButton-startIcon,
.gcx-button-icon-only .MuiButton-endIcon {
    margin-left: -4px;
    margin-right: -4px;
}
