:root {
    --primary: #128741;
    --white: #ffffff;
}
.btn-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn:hover {
    background-color: var(--primary);
    color: var(--white);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 15px 30px;
    font-size: 30px;
}

.grid-container {
    display: grid;
}
